<div class="row">
<div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inspecciones por fechas</h6>
        </div>
        <div class="card-body">
            <div style="display: block;">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [colors]="barChartColors"
                [chartType]="barChartType">
                </canvas>
              </div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inspecciones por tipo</h6>
        </div>
        <div class="card-body">
            <canvas baseChart 
            [data]="doughnutChartData" 
            [labels]="doughnutChartLabels" 
            [chartType]="doughnutChartType">
            </canvas>
        </div>
    </div>
</div>
</div>
